* {
  box-sizing: border-box;
}

body {
  font-family: arial;
  margin: 0;
}





.heading__heading,
.heading__strapline {
  margin: 0;
  padding: 15px 10px;
  width: 100%;
}

.heading__heading {
  color: #505;
}

.heading__strapline {
  color: #055;
}





.all-cart-items {
  width: 100%;
  padding: 40px 10px;
}
@media (min-width: 800px) {
  .all-cart-items {
    width: 75%;
    display: inline-block;
  }
}





.totals {
  width: 100%;
  padding: 40px 10px;
}
@media (min-width: 800px) {
  .totals {
    width: 25%;
    display: inline-block;
  }
}
